In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saint George,37.1041,-113.5841,81.07,26,1,1.99,US,2021-10-31 21:54:25
1,1,East London,-33.0153,27.9116,65.80,82,70,12.64,ZA,2021-10-31 21:57:37
2,2,Tasiilaq,65.6145,-37.6368,18.16,59,62,5.59,GL,2021-10-31 21:57:37
3,3,Jamestown,42.0970,-79.2353,53.29,79,75,11.01,US,2021-10-31 21:53:15
4,4,Longyearbyen,78.2186,15.6401,25.75,88,100,5.99,SJ,2021-10-31 21:57:38

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Saint George,37.1041,-113.5841,81.07,26,1,1.99,US,2021-10-31 21:54:25
7,7,Hithadhoo,-0.6000,73.0833,82.31,76,100,18.54,MV,2021-10-31 21:57:39
9,9,Bom Jesus,-9.0744,-44.3586,86.07,35,85,3.62,BR,2021-10-31 21:57:40
11,11,Lamu,-2.2717,40.9020,78.28,85,10,10.89,KE,2021-10-31 21:57:41
12,12,Lorengau,-2.0226,147.2712,81.05,82,100,13.29,PG,2021-10-31 21:57:41
14,14,Atuona,-9.8000,-139.0333,78.73,75,4,19.86,PF,2021-10-31 21:57:42
17,17,Qandala,11.4720,49.8728,79.54,76,33,7.52,SO,2021-10-31 21:57:43
18,18,Ugoofaaru,5.6667,73.0000,81.46,76,100,17.67,MV,2021-10-31 21:57:43
21,21,Cockburn Town,21.4612,-71.1419,84.16,65,20,0.00,TC,2021-10-31 21:57:44
26,26,Cabo San Lucas,22.8909,-109.9124,88.61,66,14,1.01,MX,2021-10-31 21:57:46

In [18]:
preferred_cities_df.count()

City_ID       162
City          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
Country       162
Date          162
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0     Saint George      US     81.07  37.1041 -113.5841
7        Hithadhoo      MV     82.31  -0.6000   73.0833
9        Bom Jesus      BR     86.07  -9.0744  -44.3586
11            Lamu      KE     78.28  -2.2717   40.9020
12        Lorengau      PG     81.05  -2.0226  147.2712
14          Atuona      PF     78.73  -9.8000 -139.0333
17         Qandala      SO     79.54  11.4720   49.8728
18       Ugoofaaru      MV     81.46   5.6667   73.0000
21   Cockburn Town      TC     84.16  21.4612  -71.1419
26  Cabo San Lucas      MX     88.61  22.8909 -109.9124

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint George,US,81.07,37.1041,-113.5841,Best Western Plus Abbey Inn
7,Hithadhoo,MV,82.31,-0.6000,73.0833,Scoop Guest House
9,Bom Jesus,BR,86.07,-9.0744,-44.3586,Hotel Brasão & Floricultura Bella Flor
11,Lamu,KE,78.28,-2.2717,40.9020,Lamu House
12,Lorengau,PG,81.05,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...
539,Atar,MR,84.16,20.5169,-13.0499,Oumou Elghoura
549,Puerto Carreno,CO,79.75,6.1890,-67.4859,Casa Hotel Victoria
554,Kununurra,AU,78.78,-15.7667,128.7333,Hotel Kununurra
556,Bull Savanna,JM,79.52,17.8868,-77.5902,Big Red's
564,Little Elm,US,81.64,33.1626,-96.9375,Preston On The Lake

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))